<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.warp.mosyle.launcher</string>
	<key>Version</key>
	<string>1.0</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/zsh</string>
		<string>/usr/local/Mosyle Warp Pipe/warp_mosyle.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>30</integer>
		</dict>
	</array>

</dict>
</plist>
